body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
h1 {
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    display: block;
}


button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
